<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Welcome Email</title>
   </head>
   <body paddingwidth="0" paddingheight="0" bgcolor="re"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; margin:0;" offset="0" toppadding="0" leftpadding="0">
      <div style="min-width:100%;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14px;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;background-color:#e9f5ff;margin:0px;padding:0px;width:100%" bgcolor="#f2f2f2">
         <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;height:100%;width:100%;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px">
            <tbody>
               <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                  <td class="" align="center" valign="top" style="word-break:break-word;vertical-align:top;text-align:center;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px;border-collapse:collapse">
                     <center style="width:100%;min-width:580px">
                        <table class="" style="background-color:white;border-radius:8px;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;background-color:rgb(255,255,255);margin:40px 0px 20px;padding:0px" bgcolor="#ffffff">
                           <tbody>
                              <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                 <td style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px;border-collapse:collapse" align="left" valign="top">

                                    <table class="" style="background-color: #cbe8ff; border-bottom:1px solid gainsboro;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;display:block;padding:0px">
                                       <tbody>
                                          <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                             <td class="" style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 0px;border-collapse:collapse" align="left" valign="top">
                                                <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:580px;margin:0px auto;padding:0px">
                                                   <tbody>
                                                      <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                                         <td class="" style="word-break:break-word;vertical-align:top;text-align:center;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px 0px 10px;border-collapse:collapse" align="center" valign="top">
                                                            <center style="width:100%;min-width:580px">
                                                                <img style="width: 200px;" src="https://medchoice.azurewebsites.net/Assets/images/Email/images/logo.png" />
                                                               <p class="" id="" style="text-align:center;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:600;line-height: 30px;font-size: 19px;margin: 13px 0px 10px;padding:0px;" align="center">Stay healthy throughout the day with 
                                                                   <a href="https://mymedchoices.com/" style="color:rgb(85,85,85);text-decoration:none"  target="_blank"> mymedchoices </a>
                                                               </p>
                                                            </center>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:100%;display:block;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;background-color:white;padding:0px" bgcolor="white">
                                       <tbody>
                                          <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                             <td class="" style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 0px 50px;border-collapse:collapse" align="left" valign="top">
                                                <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:480px;margin:0px auto;padding:0px">
                                                   <tbody>
                                                      <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                                         <td style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 30px;border-collapse:collapse" align="left" valign="top">
                                                            <div class="" id="Div1">
                                                               <h1 style="color: rgb(130, 130, 130);font-family:helvetica,arial,sans-serif;font-weight: 500;text-align:center;line-height:1.1;word-break:normal;font-size: 13px;letter-spacing:0.75px;margin-top: -10px;padding:0px;font-style: italic;" align="left">On demand access - anywhere, anytime!</h1> 
															   <br/>
															   <h2 style="color:#5397cd;font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:center;line-height:1.0;word-break:normal;font-size:16px;letter-spacing:0.75px;margin:-20px 0px;padding:0px" align="left">Congratulations and Welcome!</h2> 
															  
                                                               <a href="#" style="color:rgb(255,255,255);text-decoration:none"> 
                                                                   <img src="http://apimmcqa.telemedapp.in/Assets/videoCallWithExpert.png" width="200" height="200" alt="Stop suffering, get in touch with your doctor now!" style="float:right;padding-top:20px;padding-left:20px; margin-top: 50px;outline:none;text-decoration:none;width:auto;max-width:100%;clear:both;display:block;border:none" align="right" class="" /></a><br><br>
                                                               <p style="color:rgb(115, 115, 115);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:22px;font-size:15px;margin:0px 0px 10px;padding:0px; display: table;" align="left">Stop suffering, get in touch with your doctor now using your new Telemedicine app! I&#39;m Mary, the
                                                                 publisher of this App and glad to personally welcome you. Thank you for choosing us.</p>
                                                               <p style="color:rgb(115, 115, 115);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:22px;font-size:15px;margin:0px 0px 10px;padding:0px; display: table;" align="left">App offers technology access to the most preferred specialists near
your home, allows video consultations, get ePrescriptions from the
Certified doctors on the go! Our aim is to increase access of world-
class healthcare at costs you can afford.</p>
                                                               <p style="color:rgb(115, 115, 115);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:22px;font-size:15px;margin:0px 0px 10px;padding:0px; display: table;" align="left">We do so through the development and implementation of a value-
based health system. Book Video Visits, pay for a visit, sit back and
relax.</p>
                                                               <div>
                                                                  <a href="https://mymedchoices.com/" class="" style="" target="_blank">
                                                                     <div  style="border-radius: 4px;color: white;display: inline-block;font-family: sans-serif;font-size: 15px;font-weight: lighter;line-height: 40px;letter-spacing: 1px;text-align: center;text-decoration: none;width: 200px;margin-top: 10px;background-image: initial;background-position: initial;background-size: initial;background-repeat: initial;background-origin: initial;background-clip: initial;background-color: #5397cd;">
                                                                        Sign Up Now !
                                                                     </div>
                                                                  </a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>

                                    <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:100%;display:block;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;background-color:rgb(247, 247, 247);padding:0px" bgcolor="rgb(247, 247, 247)">
                                       <tbody>
                                          <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                             <td class="" style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 0px 50px;border-collapse:collapse" align="left" valign="top">
                                                <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:480px;margin:0px auto;padding:0px">
                                                   <tbody>
                                                      <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                                         <td style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 30px;border-collapse:collapse" align="left" valign="top">
                                                            <div class="" id="Div2">
                                                               <a href="#" style="color:rgb(255,255,255);text-decoration:none"> 
                                                                   <img src="http://apimmcqa.telemedapp.in/Assets/connectInstantly.png" width="200" height="200" alt="Stop suffering, get in touch with your doctor now!" style="float:left;padding-top:20px;padding-right: 20px;outline:none;text-decoration:none;width:auto;max-width:100%;clear:both;display:block;border:none" align="right" class="" /></a>
                                                               <strong></strong> <br>
       
                                                               <p style="color:rgb(115, 115, 115);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:22px;font-size:15px;margin:0px 0px 10px;padding:0px; display: table;" align="left">A positive experience throughout the care cycle, improved clinical
outcomes, affordable costs, and a healthier lifestyle through
education, technology, and accessibility. In this busy life, this app
allows Patients to book video consultations with Doctors of their
choice, at a time convenient to Patients. Pay conveniently and
securely.
                                                               </p>
                                                               <p style="color:rgb(115, 115, 115);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:22px;font-size:15px;margin:0px 0px 10px;padding:0px; display: table;" align="left">Need to search for a nearby specialists? Our radar makes it easy.
Use the Google maps based Radar feature to locate your near by
facility most conveniently and contact them directly any time
convenient                                                      </p>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:100%;display:block;padding:0px">
                                       <tbody>
                                          <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                             <td class="" style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 0px 50px;border-collapse:collapse" align="left" valign="top">
                                                <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:480px;margin:0px auto;padding:0px">
                                                   <tbody>
                                                      <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                                         <td style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px 0px 30px;border-collapse:collapse" align="left" valign="top">
                                                            <div class="" id="Div3">
                                                            <p></p>
                                                            <p></p>
                                                               <a href="#" style="color:rgb(255,255,255);text-decoration:none"> 
                                                                   <img src="http://apimmcqa.telemedapp.in/Assets/emailDownloadApp.png" width="200" height="200" alt="Only the best doctors." style="padding-top:20px;padding-right:20px;outline:none;text-decoration:none;width:auto;max-width:100%;float:left;clear:both;display:block;border:none" align="left" class="" /></a>
                         <h1 style="color:#5397cd;font-family:helvetica,arial,sans-serif;font-weight:lighter;text-align:left;line-height:26px;word-break:normal;font-size:18px;letter-spacing:0.75px;margin:0px;padding:0px 0px 0px 20px" align="left">Questions ?</h1>
                                                               <p style="color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14px;margin:0px 0px 10px;padding:0px" align="left">
                                                                   Use Help and support feature available in the Application to reach us
any time.
                                                               </p>
                                                            </div>
                                                         </td>
                                                         <td class="" style="word-break:break-word;vertical-align:top;text-align:left;width:0px;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px;border-collapse:collapse" align="left" valign="top"></td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>

                                    <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:100%;display:block;padding:0px">
                                       <tbody>
                                          <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                             <td class="" style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:10px 0px 0px;border-collapse:collapse" align="left" valign="top">
                                                <table class="" style="border-collapse:collapse;vertical-align:top;text-align:left;width:580px;margin:0px auto;padding:0px">
                                                   <tbody>

                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                          <tr style="vertical-align:top;text-align:left;padding:0px" align="left">
                                             <td style="word-break:break-word;vertical-align:top;text-align:left;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:20px 0px;border-collapse:collapse" align="left" valign="top">
                                                <p class=" style="color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;text-align:center;line-height:19px;font-size:11px;margin:0px 0px 10px;padding:0px" align="center">All rights reserved @ 2018 <a href="https://mymedchoices.com/" style="color:rgb(85,85,85);" target="_blank">mymedchoices</a>
                                                </p>
                                             </td>
                                             <td class="" style="word-break:break-word;vertical-align:top;text-align:left;width:0px;color:rgb(85,85,85);font-family:helvetica,arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px;padding:0px;border-collapse:collapse" align="left" valign="top"></td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                  </td>
               </tr>
            </tbody>
         </table>
         </center>
         </td>
         </tr>
         </tbody></table>
      </div>
   </body>
</html>