@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Confirmation</h2>
                    <ol class="breadcrumb">
                     
                        <div class="login-form login-area">
                            <h3>
                                We    Sent the Forgot Password To your  Registred Email
                            </h3>


                            <div>
                                <p>
                                    Please check your email to reset your password.
                                </p>
                            </div>



                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="login section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
               
            </div>
        </div>
    </div>
</section>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}